.body_div{
    width:70vw;
    height:100vh;
    background-color:#4573D0;
    z-index:-1;
    margin:auto;
}
body{
    background-color:#B2C4E9;
}
@media(max-width:1200px){
    .body_div{
        width:100vw;
        position:fixed;        
        left:0;
        padding-left:7px;
        padding-right:15px;
    }
}

nav{
    display:flex;
    justify-content: space-evenly;
    position:fixed;
    top:0;
    left:0;
    max-width:100%;
    width:100%;
    font-size: 140%;
    background-color: blue ;
}
nav > a{
    text-decoration: none;
    color:white;
}