
@media (max-width:1000px){

    #index-lonf_fcc{
        display:block;
        margin:auto;
        width:100%;
    }
}

@media (min-width:1001px){

    #index-lonf_fcc{
        display:block;
        margin:auto;
        width:100%;
    }
}



p{
    font-size: 18px;
}
nav{
    display:flex;
    justify-content: space-evenly;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-size: 1.4rem;
    font-style:none;
    background-color: blue ;
}
nav > a{
    text-decoration: none;
    color:white;
}

.gallery_img_section{
    display:grid;
    grid-template-columns: repeat(2, auto);
    background-color: #504c88;
    gap:10px;
}
#gallery_long_fcc{
    grid-column: 1/2;
}